body {
    background-image: linear-gradient(black, white);
    height: 100vh;
    overflow-y: hidden;
}

#proyects {
    display: flex;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#raspberry {
    background-image: url(raspberry.png);
}

#electronics {
    background-image: url(electronics.png);
}

#collections {
    background-image: url(old.png);
}

.proyect {
    text-align: center;
    margin: 10px;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 25vh;
    width: 40vw;
    border-radius: 10%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white
}

@media (max-width: 1150px) {

    /*si el width de la pantalla es 800 o menor enonces h1 es azul*/
    #proyects {
        flex-direction: column;
    }

    .proyect {
        margin-top: 0px;
    }
}